services:
  - type: web
    name: parkinsons-prediction
    env: docker
    plan: free
    region: oregon
    healthCheckPath: /api/health
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 8000
      - key: PYTHONUNBUFFERED
        value: 1
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET_KEY
        sync: false
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    dockerContext: .
